@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Raleway&display=swap');

:root {

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

div#root {
  display: flex;
}
